@import url('https://fonts.googleapis.com/css2?family=Zen+Loop:ital@1&display=swap');

.main{
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    font-size: 30px;
    font-family: "Zen Loop", cursive;
  font-weight: 400;
  font-style: italic;
  margin:15rem 5rem 3rem 5rem;
  padding: 2rem;
}

.main:hover{
    cursor: default;
}

.contacts{
    display: flex;
    justify-content: center;
    gap: 4rem;
    font-size: 1.2rem;
    margin-bottom: 20rem;
}
.contacts:hover{
    cursor: default;
}